Repository genessee-forgot-his-password-again/Shiptest, pull requests merged in 2025-02, with the labels that each got.

#5 komodo
  _maps/configs/syndicate_gorlex_komodo.json
Labels: Map Change, Ship

#4 Faction locks tech because I hate fun, or Help. Help. How did I get involved in contribing for another server. Help.
  code/modules/cargo/packs/research.dm
  code/modules/research/faction_destructibles.dm
  code/modules/research/techweb/all_nodes.dm
  shiptest.dme
Labels: DME Edit, Code Change

#6 bwuh
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/cargo/packs/research.dm
  code/modules/research/machinery/departmental_techfab.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Code Change

#8 update to latest
  _maps/configs/cybersun_cirrus.json
  _maps/configs/minutemen_vela.json
  _maps/configs/syndicate_cybersun_litieguai.json
  _maps/shuttles/cybersun/cybersun_cirrus.dmm
  _maps/shuttles/inteq/inteq_colossus.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/inteq/inteq_valor.dmm
  _maps/shuttles/inteq/inteq_vaquero.dmm
  _maps/shuttles/minutemen/minutemen_vela.dmm
  _maps/shuttles/subshuttles/cybersun_bambulance.dmm
  _maps/shuttles/syndicate/syndicate_cybersun_litieguai.dmm
  code/datums/shuttles.dm
  code/game/mecha/mech_bay.dm
  code/game/objects/items/storage/filled_guncases.dm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  html/changelogs/AutoChangeLog-pr-4148.yml
  html/changelogs/AutoChangeLog-pr-4172.yml
  html/changelogs/AutoChangeLog-pr-4197.yml
  html/changelogs/AutoChangeLog-pr-4211.yml
  html/changelogs/AutoChangeLog-pr-4220.yml
  html/changelogs/archive/2025-02.yml
  icons/mecha/mecha.dmi
Labels: Sprites, Code Change, Map Change, Ship

#7 Ports every change, turns out this is like two clicks.
  code/modules/cargo/packs/research.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/faction_destructibles.dm
  code/modules/research/techweb/all_nodes.dm
  config/admins.txt
  config/config.txt
  rust_g.dm
  shiptest.dme
Labels: DME Edit, Code Change, Config

#9 Komodo
  _maps/configs/syndicate_gorlex_komodo.json
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
Labels: Map Change, Ship

#11 Komodo 2
  _maps/configs/syndicate_gorlex_komodo.json
  _maps/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  code/game/objects/items/miscellaneous.dm
  code/modules/cargo/packs/research.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/research/faction_destructibles.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Code Change, Map Change, Ship

#12 Sellable Fish
  code/modules/cargo/exports/fish.dm
  shiptest.dme
Labels: DME Edit, Code Change

#13 FISH
  code/modules/cargo/exports/fish.dm
Labels: Code Change
